@import '../../variable.scss';
@import '../item/blog/BlogThumb.scss';



.App .Page .BlogLayout {
  width: getGridWidth(10);
  margin: $pagePadding--top auto $pagePadding--bottom;
  &:after {
    clear: both;
    display: block;
    content: ""
  }

  .main {
    width: getGridWidth(6);
    float: left;

    h3 {
      @include page-title;
    }

    .blog-list {

      li {
        width: 100%;
        .BlogThumb {
          @include blog-thumb--xl;
        }

        &+li {
          margin-top: 8px;
        }
      }
    }

    .view-more {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .side {
    width: getGridWidth(4);
    float: left;
    margin-left: $gridGap;

    h3 {
      @include page-title;
    }

    .hot-post-list {
      border-top: 1px solid rgba(0,0,0, $opacity--line1);
      border-bottom: 1px solid rgba(0,0,0, $opacity--line1);

      li {
        width: 100%;

        &+li {
          border-top: 1px solid rgba(0,0,0, $opacity--line2);
        }
      }
    }

    .view-more {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}


@media (max-width: $width--lg) {
.App .Page .BlogLayout {
  width: getGridWidth(6);

  .main {
    width: getGridWidth(6);
    margin-bottom: 40px;
  }

  .side {
    margin-left: 0;
    width: getGridWidth(6);
    .hot-post-list {
      border: none;
    }
  }
}}


@media (max-width: $width--sm) {
.App .Page .BlogLayout {
  width: getGridWidth(4);

  .main {
    width: getGridWidth(4);

    .blog-list {
      li {
        .BlogThumb {
          @include blog-thumb--sm;
        }
      }
    }

  }

  .side {
    width: getGridWidth(4);
  }
}}


@media (max-width: $width--xs) {
.App .Page .BlogLayout {
  width: getGridWidth(2);

  .main {
    width: getGridWidth(2);

    .blog-list {
      li {
        .BlogThumb {
          @include blog-thumb--xs;
        }
      }
    }
  }

  .side {
    width: getGridWidth(2);
  }

}}
