@import '../../variable.scss';
@import '../item/shop/ProductGroup.scss';
@import '../item/shop/CategoryFilter.scss';
@import '../item/shop/SearchBox.scss';

.App .Page .ShopLayout {
  width: getGridWidth(10) + $gridGap;
  margin: $pagePadding--top auto $pagePadding--bottom;

  .header {
    width: getGridWidth(10);
    margin: 0 auto 20px;
    position: relative;

    h3 {
      @include page-title;
    }

    .CategoryFilter {
      display: block;
      @include category-filter--xl;
    }

    .SearchBox {
      display: block;
      position: absolute;
      bottom: 1px;
      right: 0;
      @include search-box--xl;
    }
  }

  .not-found {
    font: 400 16px/22px 'Klavika', sans-serif;
    color: #000;
    opacity: $opacity--primary;
    padding: 50px 0;
    display: block;
    text-align: center;
  }

  .ProductGroup {
    @include product-group--xl;
  }

  .view-more {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}


@media (max-width: $width--lg) {
  .App .Page .ShopLayout {
    width: getGridWidth(8) + $gridGap;
    .header {
      width: getGridWidth(8);
      .CategoryFilter {
        @include category-filter--lg;
      }
    }
    .ProductGroup {
      @include product-group--lg;
    }
  }
}

@media (max-width: $width--md) {
  .App .Page .ShopLayout {
    width: getGridWidth(6) + $gridGap;
    .header {
      width: getGridWidth(6);
      .CategoryFilter {
        @include category-filter--md;
      }
      .SearchBox {
        display: block;
        position: relative;
        bottom: auto;
        right: auto;
        @include search-box--md;
      }
    }
    .ProductGroup {
      @include product-group--md;
    }
  }
}

@media (max-width: $width--sm) {
  .App .Page .ShopLayout {
    width: getGridWidth(4) + $gridGap;
    .header {
      width: getGridWidth(4);
      .CategoryFilter {
        @include category-filter--sm;
      }
      .SearchBox {
        @include search-box--sm;
      }
    }
    .ProductGroup {
      @include product-group--sm;
    }
  }
}

@media (max-width: $width--xs) {
  .App .Page .ShopLayout {
    width: getGridWidth(2) + $gridGap;
    .header {
      width: getGridWidth(2);
      .CategoryFilter {
        @include category-filter--xs;
      }
      .SearchBox {
        @include search-box--xs;
      }
    }
    .ProductGroup {
      @include product-group--xs;
    }
  }
}