@import '../../variable.scss';
@import './static/AboutUs.scss';

.StaticPage {
  display: none;
}


.App .Page .Static {
  position: relative;
  width: getGridWidth(6);
  padding: $pagePadding--top 0 $pagePadding--bottom;
  margin: auto;

  .static-content {
    .page-title {
      @include page-title;
    }
    .sub {
      @include sub;
    }
    .sub-2 {
      @include sub-2
    }
    .line1 {
      @include line1;
    }
    .line2 {
      @include line2;
    }
    .line2-2 {
      @include line2-2;
    }
    .grid-2 {
      @include grid-2;
      + .grid-2 {
        margin-left: $gridGap;
      }
    }
    p {
      @include caption;
      a {
        color: rgba(0,0,0, $opacity--caption);
      }
    }
    form.wpcf7-form {
      input[type=text], input[type=email] {
        height: 42px;
        padding: 0 5px;
      }
      input[type=submit] {
        display: block;
        margin: auto;
        font: 400 16px/22px $font-family;
        color: #ffffff;    
        background: rgba(0,0,0, $opacity--primary);
        width: 337px;
        padding: 7px 0;
      }
      textarea {
        height: 370px;
        padding: 5px;
      }
      input[type=text], input[type=email], textarea {
        width: 100%;
        background-color: $bgColor;
        border: 1px solid rgba(0,0,0, $opacity--caption);
        font: 400 16px/22px $font-family;
        color: rgba(0,0,0, $opacity--caption);
      }
    }
    &.about-us {
      @include about-us--md;
    }
  }

}

@media( max-width: $width--sm ){
  .App .Page .Static {
    width: getGridWidth(4);

    .about-us {
      @include about-us--sm;
    }
  }

}

@media( max-width: $width--xs ){
  .App .Page .Static {
    width: getGridWidth(2);

    .about-us {
      @include about-us--xs;
    }
  }

}

