@import '../../variable.scss';
@import './static/variable.scss';

//@import './static/static-content';
//@import './static/Footer.scss';
//@import './static/MyAccount.scss';
//@import './static/Checkout.scss';


.StaticPage {
  display: none;
}


.App .Page .Static {
  padding: $pagePadding--top 0 $pagePadding--bottom;

  .static-content {
    position: relative;

    .static-content-title {
      @include s-title;
    }
    .static-content-h2 {
      @include s-subtitle;
    }
    p {
      @include s-paragraph;
    }

    label {
      font: 400 14px/24px $font-family;
      color: #999999;
      padding-left: 10px;
      .required {
        font-weight: 500;
        color: #333;
      }
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select{
      @include s-input-text;
      margin-bottom: 24px;
    }

    .form-row-first {
      margin-bottom: 0;
    }

    .button {
      @include s-button;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: $bgColor !important;
  -webkit-box-shadow: 0 0 0 1000px $bgColor inset !important;
}


@import './static/MyAccount';
@import './static/SingleColumn';
@import './static/Checkout';