@import './lib/spinner/SquareSpinner.scss';
@import './scoll.scss';
@import './variable.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: $bgColor;
  min-width: 320px;
}

.page-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
  }
}



.App {
  position: relative;

  .Header {
    position: fixed;
    top: 0;
    left: 0;
  }
  .Page {
    position: relative;
    padding: $frameSizeTop $frameSize $footerHeight;
    box-sizing: border-box;
  }
  .Footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .Menu {
    position: fixed;
    top: 0;
    left: 0;
  }
}


@media (max-width: 1279px) {
.App {
  .Page {
    padding: $frameSizeTop--lg $frameSize--lg $footerHeight--lg;
  }
}}

@media (max-width: 1023px) {
.App {
  .Page {
    padding: $frameSizeTop--md $frameSize--md $footerHeight--md;
  }
}}

@media (max-width: 767px) {
.App {
  .Page {
    padding: $frameSizeTop--sm $frameSize--sm $footerHeight--sm;
  }
}}

@media (max-width: 511px) {
.App {
  .Page {
    padding: $frameSizeTop--xs $frameSize--xs $footerHeight--xs;
  }
}}

