@import './Spinner.scss';
@import './variable.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $bgColor;
}

.page-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
  }
}

.App {
  position: relative;

  .Header {
    position: fixed;
    top: 0;
    left: 0;
  }
  .Page {
    position: relative;
    padding: $frameSizeTop $frameSize $footerHeight;
    box-sizing: border-box;
  }
  .Footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .MainMenu {
    position: fixed;
    top: 0;
    left: 0;
  }
}


