@import './variable';

.Frame {
  width: 0;
  height: 0;

  span {
    transition: background-color 1s ease;
    will-change: background-color;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $frameSizeTop;
  }

  .left {
    position: fixed;
    top: 0;
    left: 0;
    width: $frameSize;
    bottom: 0;
  }

  .right {
    position: fixed;
    top: 0;
    right: 0;
    width: $frameSize;
    bottom: 0;
  }

  .bottom {
    position: fixed;
    bottom: 0;
    height: $frameSize;
    left: 0;
    right: 0;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footerHeight;
    transition: background-color 1s ease;
    will-change: background-color;
  }
}

