// Defaults
$bgColor: #f0f0f0;

$opacity--primary: 0.80; // #333333
$opacity--title: 0.63; // #5e5e5e
$opacity--sub: 0.55; // #737373
$opacity--caption: 0.40; // #909090
$opacity--line1: 0.27; // #bdbdbd
$opacity--line2: 0.08; // #ebebeb


// Frame Sizes for each sizes
$frameSizeTop: 56px;
$frameSize: 26px;
$footerHeight: 270px;

$frameSizeTop--lg: 56px;
$frameSize--lg: 20px;
$footerHeight--lg: 270px;

$frameSizeTop--md: 56px;
$frameSize--md: 15px;
$footerHeight--md: 313px;

$frameSizeTop--sm: 56px;
$frameSize--sm: 10px;
$footerHeight--sm: 401px;

$frameSizeTop--xs: 56px;
$frameSize--xs: 10px;
$footerHeight--xs: 423px;

// Z Index
$z-header: 600;
$z-menu: 500 ;
$z-popup: 400;
$z-frame: 300;
$z-footer: 200;
$z-page: 100;




// Shadows
$shadowFocus  : 0 0 8px rgba(0,0,0,.15), 0 8px 16px rgba(0,0,0,.36);
$shadow0dp    : 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
$shadow2dp    : 0 2px 2px 0 rgba(0,0,0,.05), 0 3px 1px -2px rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.05);
$shadow3dp    : 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
$shadow4dp    : 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
$shadow6dp    : 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
$shadow8dp    : 0 8px 10px 0 rgba(0,0,0,.10), 0 3px 14px 2px rgba(0,0,0,.10), 0 5px 5px -3px rgba(0,0,0,.15);
$shadow16dp   : 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);


// Easings
$easeInOutQuad     : cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutQuart    : cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutExpo     : cubic-bezier(1, 0, 0, 1);

$easeOutQuad       : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutQuart      : cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutExpo       : cubic-bezier(0.19, 1, 0.22, 1);



// Grid
$maxWidth--10-10  : 1280px;
$maxWidth--8-10   : 1279px;
$maxWidth--6-10   : 1023px;
$maxWidth--4-10   :  767px;
$maxWidth--2-10   :  511px;
$width--xl        : $maxWidth--10-10;
$width--lg        : $maxWidth--8-10;
$width--md        : $maxWidth--6-10;
$width--sm        : $maxWidth--4-10;
$width--xs        : $maxWidth--2-10;

$maxWidth--7-7    : 1560px;
$maxWidth--6-7    : 1559px;
$maxWidth--5-7    : 1349px;
$maxWidth--4-7    : 1119px;
$maxWidth--3-7    :  889px;
$maxWidth--2-7    :  673px;
$maxWidth--1-7    :  463px;
$width--m-xxl     : $maxWidth--7-7;
$width--m-xl      : $maxWidth--6-7;
$width--m-lg      : $maxWidth--5-7;
$width--m-md      : $maxWidth--4-7;
$width--m-sm      : $maxWidth--3-7;
$width--m-xs      : $maxWidth--2-7;
$width--m-xxs     : $maxWidth--1-7;


$gridWidth  : 108px;
$gridGap    :  10px;
@function getGridWidth($size){
  @return $gridWidth * $size + (($size - 1) * $gridGap);
}

$gridWidthPromotion : 207px;
@function getGridWidthPromotion($size){
  @return $gridWidthPromotion * $size;
}


// Page
$pagePadding--top: 70px;
$pagePadding--bottom: 100px;
$font-family: 'Klavika', sans-serif;

@mixin page-title {
  font: 400 22px/22px $font-family;
  color: rgba(0,0,0, $opacity--primary);
  margin-bottom: 15px;
}

@mixin sub {
  font: 400 18px/22px $font-family;
  color: rgba(0,0,0, $opacity--sub);
  margin-bottom: 10px;
}

@mixin sub-2 {
  font: 400 18px/22px $font-family;
  color: rgba(0,0,0, $opacity--sub);
  width: getGridWidth(3);
  margin-bottom: 10px;
}

@mixin line1 {
  height: 1px;
  background-color: rgba(0,0,0, $opacity--line1);
  margin-bottom: 20px;
}

@mixin line2 {
  height: 1px;
  background-color: rgba(0,0,0, $opacity--line2);
  margin-bottom: 20px;
}

@mixin line2-2 {
  height: 1px;
  background-color: rgba(0,0,0, $opacity--line2);
  width: getGridWidth(3);
  margin-bottom: 20px;
}

@mixin caption {
  font: 400 14px/22px $font-family;
  color: rgba(0,0,0, $opacity--caption);
  margin-bottom: 36px;
}

@mixin grid-2 {
  width: getGridWidth(3);
  float: left;
}


@mixin card {
  box-shadow: $shadow2dp;
  transition: box-shadow 0.3s $easeOutQuad;
  will-change: box-shadow;
  user-select: none;
  &:hover, &:active {
    box-shadow: $shadow8dp;
  }
}

@mixin read-more {
  display: inline-block;
  font: 400 14px/20px $font-family;
  opacity: $opacity--title;
  transition: color 0.3s ease;
  will-change: color;
  &:hover, &:active {
    opacity: $opacity--primary;
  }
}
