@import '../../../variable.scss';
@import './EventThumb.scss';


@mixin event-group-base {
  position: relative;
  .EventThumb {
    display: block;
    position: absolute;
  }
}

$eventGroupWidth: (getGridWidth(10) + $gridGap) / 5;
$eventGroupHeight: (724 + $gridGap) / 3;
@function eventGroupX($num){
  @return ($eventGroupWidth * ($num - 1)) + ($gridGap / 2);
}
@function eventGroupY($num){
  @return ($eventGroupHeight * ($num - 1)) + ($gridGap  /2);
}


@mixin event-group--xl {
  @include event-group-base;
  width: $eventGroupWidth * 5;
  height: $eventGroupHeight * 3;
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(3);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(5);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(5);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(5);}
    }
    &.style-2 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(5);}
    }
    &.style-3 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(5);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-7 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(3);}
      &-8 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(5);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(5);}
    }
    &.style-4 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(5);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(4);}
    }
    &.style-5 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-3 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(2);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(5);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(4);}
    }
    &.style-6 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(5);}
    }
  }
}

@mixin event-group--lg {
  @include event-group-base;
  width: $eventGroupWidth * 4;
  height: $eventGroupHeight * 3;
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(4);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}
    }
    &.style-2 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-3 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(2);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(4);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}

    }
    &.style-3 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-5 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(3);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}

    }
    &.style-4 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(4);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}
    }
    &.style-5 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-7 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(4);}
      &-9 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(4);}
    }
    &.style-6 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(4);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-9 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(3);}
    }
  }
}

@mixin event-group--md {
  @include event-group-base;
  width: $eventGroupWidth * 3;
  height: $eventGroupHeight * 4;
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-3 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-9 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(3);}
    }
    &.style-2 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-3 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(2);}
      &-4 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-9 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(3);}
    }
    &.style-3 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-9 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(3);}
    }
    &.style-4 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-6 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(2);}
      &-7 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-9 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(3);}
    }
    &.style-5 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-7 {@include event-thumb--sm; top: eventGroupY(3); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-9 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(3);}
    }
    &.style-6 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(3);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-9 {@include event-thumb--sm; top: eventGroupY(3); left: eventGroupX(2);}
    }
  }
}

@mixin event-group--sm {
  @include event-group-base;
  width: $eventGroupWidth * 2;
  height: $eventGroupHeight * 6;
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-3 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-4 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(1);}
      &-9 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(2);}

    }
    &.style-2 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--sm; top: eventGroupY(2); left: eventGroupX(1);}
      &-4 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(1);}
      &-9 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(2);}
    }
    &.style-3 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-5 {@include event-thumb--sm; top: eventGroupY(3); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(1);}
      &-9 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(2);}
    }
    &.style-4 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-7 {@include event-thumb--sm; top: eventGroupY(4); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(1);}
      &-9 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(2);}
    }
    &.style-5 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(2);}
      &-3 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-4 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(2);}
      &-5 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(3);}
      &-7 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-9 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(1);}
    }
    &.style-6 {
      &-1 {@include event-thumb--sm; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-3 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(2);}
      &-4 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(2);}
      &-6 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(2);}
      &-8 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(1);}
      &-9 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(2);}
    }
  }
}

@mixin event-group--xs {
  @include event-group-base;
  width: $eventGroupWidth * 1;
  height: $eventGroupHeight * 9;
  .EventThumb {
    &.style-1, &.style-2, &.style-3, &.style-4, &.style-5, &.style-6 {
      &-1 {@include event-thumb--xs; top: eventGroupY(1); left: eventGroupX(1);}
      &-2 {@include event-thumb--xs; top: eventGroupY(2); left: eventGroupX(1);}
      &-3 {@include event-thumb--xs; top: eventGroupY(3); left: eventGroupX(1);}
      &-4 {@include event-thumb--xs; top: eventGroupY(4); left: eventGroupX(1);}
      &-5 {@include event-thumb--xs; top: eventGroupY(5); left: eventGroupX(1);}
      &-6 {@include event-thumb--xs; top: eventGroupY(6); left: eventGroupX(1);}
      &-7 {@include event-thumb--xs; top: eventGroupY(7); left: eventGroupX(1);}
      &-8 {@include event-thumb--xs; top: eventGroupY(8); left: eventGroupX(1);}
      &-9 {@include event-thumb--xs; top: eventGroupY(9); left: eventGroupX(1);}
    }
  }
}