@import '../../variable.scss';
@import '../item/shop/ProductThumb.scss';

.App .Popup .ShopLayout {
  padding-bottom: 100px;

  .Product {
    width: getGridWidth(6);
    margin: 0 auto 45px;

    .images {
      display: block;
      width: getGridWidth(6);
      margin-bottom: 45px;
    }

    .header {
      position: relative;
      padding-bottom: 80px;

      .title {
        font: 400 20px/30px 'Klavika', sans-serif;
        color: #000;
        opacity: $opacity--primary;
        margin-bottom: 20px;
      }

      .socialLinks {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        a {
          display: inline-block;
          padding-left: 15px;
          margin-left: 15px;
          position: relative;
          line-height: 24px;
          span {
            color: #000;
            font-size: 14px;
            line-height: 18px;
            vertical-align: middle;
            opacity: $opacity--caption;
            transition: color 0.3s ease;
            will-change: color;
            &:hover, &:active {
              opacity: $opacity--sub;
            }
          }
          & + a:before {
            content: " ";
            background: rgba(0,0,0, $opacity--line1);
            display: block;
            width: 1px;
            height: 90%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      .price {
        position: absolute;
        bottom: 20px;
        left: 0;
        font: 400 26px/40px 'Klavika', sans-serif;
        color: #000;
        opacity: $opacity--primary;
        .sale .text {
          text-decoration: line-through;
          opacity: $opacity--sub;
        }
      }

      .controls {
        display: block;
        position: absolute;
        bottom: 20px;
        right: 0;
        font-size: 0;

        select {
          display: inline-block;
          height: 40px;
          box-sizing: border-box;
          border-radius: 0;
          background: transparent;
          text-transform: capitalize;
          font: 400 16px/40px 'Klavika', sans-serif;
          min-width: 100px;
          padding: 0 10px;
          vertical-align: middle;
          outline: none;
          border: 1px solid rgba(0,0,0, $opacity--primary);

          &+select, &+.add-to-cart {
            margin-left: 10px;
          }

          option {
            color: rgba(0,0,0, $opacity--primary);
            text-transform: capitalize;
            &.disabled {
              color: #ccc;
            }
          }
        }

        .add-to-cart {
          display: inline-block;
          height: 40px;
          box-sizing: border-box;
          background: rgba(0,0,0, $opacity--primary);
          color: #fff;
          font: 500 16px/40px 'Klavika', sans-serif;
          text-align: center;
          user-select: none;
          outline: none;
          padding: 0 30px;
          vertical-align: middle;
          border: 1px solid rgba(0,0,0, $opacity--primary);
          will-change: color, background-color;
          transition: color 0.3s ease, background-color 0.3s ease;
          &:hover, &:active {
            background: transparent;
            color: rgba(0,0,0, $opacity--primary);
          }
        }
      }
    }

    .content {
      border-top: 1px solid rgba(0,0,0, $opacity--line1);
      border-bottom: 1px solid rgba(0,0,0, $opacity--line2);
      margin-bottom: 60px;
      padding-top: 15px;

      h3 {
        font: 500 16px/24px 'Klavika', sans-serif;
        color: #000;
        opacity: $opacity--sub;
        border-bottom: 1px solid rgba(0,0,0, $opacity--line2);
        padding-bottom: 10px;
      }

      p {
        padding: 20px;
        font: 400 16px/28px 'Klavika', sans-serif;
        opacity: $opacity--caption;
        color: #000;
      }

    }

  }


  .related-container {
    display: block;
    width: getGridWidth(6) + $gridGap;
    margin: 0 auto;
    > h6 {
      font: 500 16px/24px 'Klavika', sans-serif;
      opacity: $opacity--primary;
      margin: 0 5px 20px;
    }
    .items {
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      li {
        float: left;
        margin: 5px;
        .ProductThumb {
          @include product-thumb--xs;
        }
      }
    }
  }
}


@media (max-width: $width--sm) {
  .App .Popup .ShopLayout {
    .Product {
      width: getGridWidth(4);
      .images {
        width: getGridWidth(4);
      }
      .header {
        padding-bottom: 20px;

        .price {
          position: relative;
          top: auto;
          bottom: auto;
        }
        .socialLinks {
          position: relative;
          top: auto;
          right: auto;
          a {
            padding-left: 0;
            margin-left: 0;
            &+a {
              margin-left: 15px;
            }
            &+a:before {
              width: 0;
            }
          }
          margin-bottom: 20px;
        }
        .controls {
          position: relative;
          bottom: auto;
          right: auto;
          select {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            &+select, &+.add-to-cart {
              margin-left: 0;
            }
          }
          .add-to-cart {
            display: block;
            width: 100%;
          }
        }
      }

      .content {
        p {
          padding: 20px 0;
        }
      }

    }
    .related-container {
      width: getGridWidth(4) + $gridGap;
    }
  }
}

@media (max-width: $width--xs) {
  .App .Popup .ShopLayout {
    .Product {
      width: getGridWidth(2);
      .images {
        width: getGridWidth(2);
      }

    }
    .related-container {
      width: getGridWidth(2) + $gridGap;
    }
  }
}



