@import '../../variable.scss';

.App .Popup .TourLayout {
  padding-bottom: 100px;

  .Tour {
    width: getGridWidth(6);
    margin: 0 auto 45px;

    .images {
      margin-top: 72px;
      margin-bottom: 25px;
      .main-image {
        display: block;
        width: getGridWidth(6);
        height: getGridWidth(6);
      }
    }

    .header {
      position: relative;
      margin-bottom: 25px;
      .title {
        font: 400 20px/30px 'Klavika', sans-serif;
        color: #000;
        opacity: $opacity--primary;
        margin-bottom: 20px;
      }
      .subtitle {
        display: block;
        font: 400 18px/24px 'Klavika', sans-serif;
        color: #000;
        opacity: $opacity--title;
        margin-bottom: 20px;
      }
      .date {
        display: block;
        color: #000;
        font: 400 14px/24px 'Klavika', sans-serif;
        opacity: $opacity--caption;
      }
      .socialLinks {
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        a {
          display: inline-block;
          padding-left: 15px;
          margin-left: 15px;
          position: relative;
          line-height: 24px;
          span {
            color: #000;
            font-size: 14px;
            line-height: 18px;
            vertical-align: middle;
            opacity: $opacity--caption;
            transition: color 0.3s ease;
            will-change: color;
            &:hover, &:active {
              opacity: $opacity--sub;
            }
          }
          & + a:before {
            content: " ";
            background: rgba(0,0,0, $opacity--line1);
            display: block;
            width: 1px;
            height: 90%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .content {
      .title {
        font: 400 18px/24px 'Klavika', sans-serif;
        color: #000;
        opacity: $opacity--primary;
        margin-bottom: 15px;
      }
      .spacer{
        background: rgba(0,0,0, $opacity--line1);
        display: block;
        box-sizing: border-box;
        height: 1px;
        margin: 15px 0;
      }
      p {
        font: 400 16px/28px 'Klavika', sans-serif;
        opacity: $opacity--caption;
        color: #000;
      }
    }
  }
}


@media (max-width:  $width--sm) {
  .App .Popup .TourLayout {
    .Tour {
      width: getGridWidth(4);
      .images {
        .main-image {
          display: block;
          width: getGridWidth(4);
          height: getGridWidth(4);
        }
      }
    }
  }
}

@media (max-width: $width--xs) {
  .App .Popup .TourLayout {
    .Tour {
      width: getGridWidth(2);
      .images {
        .main-image {
          display: block;
          width: getGridWidth(2);
          height: getGridWidth(2);
        }
      }
    }
  }
}