@import '../../../variable';

@mixin blog-thumb {
  width: getGridWidth(6);
  background: #fff;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  @include card;

  .header {
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    .title {
      display: block;
      h6 {
        font: 400 18px/24px 'Klavika', sans-serif;
        color: rgba(0,0,0, $opacity--primary);
        transition: color 0.3s ease;
        will-change: color;
        overflow: hidden;
      }
      &:hover, &:active {
        h6 {
          color: rgba(0,0,0,1);
        }
      }
    }

    .by {
      display: block;
      font: 400 14px/24px 'Klavika', sans-serif;
      color: rgba(0,0,0, $opacity--title);
    }

    .date {
      display: block;
      font: 400 14px/24px 'Klavika', sans-serif;
      color: rgba(0,0,0, $opacity--caption);
    }

    .socialLinks {
      position: absolute;
      display: block;
      bottom: 20px;
      right: 20px;
      a {
        display: inline-block;
        margin-left: 15px;
        line-height: 24px;
        span {
          font-size: 18px;
          line-height: 18px;
          vertical-align: middle;
          color: rgba(0,0,0, $opacity--caption);
          transition: color 0.3s ease;
          will-change: color;
          &:hover, &:active {
            color: rgba(0,0,0, $opacity--sub);
          }
        }
      }

    }
  }

  .images {
    .image-2x1 {
      display: block;
      width: getGridWidth(6);
      height: getGridWidth(3);
    }
    .image-1x1 {
      display: none;
    }
    .image-3x2 {
      display: none;
    }
  }

  .spacer {
    background: rgba(0,0,0, $opacity--line1);
    display: block;
    box-sizing: border-box;
    height: 1px;
    margin: 0 20px;
  }

  .text {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    font: 400 14px/20px 'klavika', sans-serif;
    color: rgba(0,0,0, $opacity--caption);
  }

  .read-more {
    display: inline-block;
    font: 400 14px/20px 'klavika', sans-serif;
    color: rgba(0,0,0, $opacity--title);
    transition: color 0.3s ease;
    will-change: color;
    margin: 0 0 20px 20px;
    &:hover, &:active {
      color: rgba(0,0,0, $opacity--primary);
    }
  }

}

@mixin blog-thumb--xl {
  @include blog-thumb;
  width: getGridWidth(6);
}

@mixin blog-thumb--lg {
  @include blog-thumb;
  width: getGridWidth(6);
}

@mixin blog-thumb--md {
  @include blog-thumb;
  width: getGridWidth(6);
}

@mixin blog-thumb--sm {
  @include blog-thumb;
  width: getGridWidth(4);

  .images {
    .image-2x1 {
      display: block;
      width: getGridWidth(4);
      height: getGridWidth(2);
    }
    .image-1x1 {
      display: none;
    }
  }
}


@mixin blog-thumb--xs {
  @include blog-thumb;
  $height: 235px;
  $imgHeight: 157px;
  width: getGridWidth(2);
  height: $height;
  .header {
    position: absolute;
    padding: 15px;
    width: getGridWidth(2);
    height: $height - $imgHeight;
    bottom: 0;
    left: 0;
    .title {
      height: 36px;
      overflow: hidden;
      h6 {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .by, .socialLinks {
      display: none;
    }
    .date {
      line-height: 18px;
    }
  }
  .images {
    .image-3x2 {
      display: block;
      width: getGridWidth(2);
      height: $imgHeight;
    }
    .image-2x1 {
      display: none;
      width: getGridWidth(2);
      height: getGridWidth(1);
    }
    .image-1x1 {
      display: none;
      width: getGridWidth(2);
      height: getGridWidth(2);
    }
  }
  .text, .read-more {
    display: none;
  }

  &.no-image {
    border-bottom: 20px solid #fff;
    overflow: hidden;
    .header {
      position: relative;
      height: auto;
      bottom: auto;
      left: auto;
      .title {
        height: auto;
      }
    }
    .spacer {
      display: none;
    }
    .text {
      word-break: break-all;
      display: block;
      overflow: hidden;
      padding: 15px;
      padding-top: 13px;
      position: relative;
    }


  }
}
