
@mixin footer {
  @include footer--md;
  position: relative;
  margin: auto;
  .static-content {
    form.wpcf7-form {
      input[type=text] {
        @include input-text;
      }
      input[type=email] {
        @include input-email;
      }
      input[type=submit] {
        @include input-submit;
      }
      textarea {
        @include textarea;
      }
    }
  }
}


@mixin footer--md {}

@mixin footer--sm {}

@mixin footer--xs {
  .static-content {
    form.wpcf7-form {
      input[type=submit] {
        width: 100%;
      }
    }
  }
}

@mixin footer--xxs {
  .static-content {
    form.wpcf7-form {
      input[type=submit] {
        width: 100%;
      }
    }
  }
}
