
@mixin my_account {
  @include my_account--md;
  position: relative;
  margin: auto;
  .static-content {
    .woocommerce {
      #profile-form {
        .profile-menu {
          display: none;
        }
        form.edit-account {
          #password-change {
            padding-bottom: 60px;
            border-bottom: 1px solid rgba(0,0,0, $opacity--line1);
            margin-bottom: 20px;
            .static-content-h2 {
              @include sub-my_account;
            }
          }
        }
      }
    }
    &.my-account {
      .woocommerce {
        .col2-set {
          display: inline-block;
          .col-1, .col-2 {
            @include grid-2;
          }
        }
      }
    }
    &.my-orders {
      p:first-child {
        display: none;
      }
      h2 {
        @include sub-my_account;
      }
    }

  }
}


@mixin my_account--md {}

@mixin my_account--sm {
  .static-content {
    .woocommerce {
      .addresses {
        a {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@mixin my_account--xs {
  .static-content {
    .woocommerce {
      .addresses {
        a {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@mixin my_account--xxs {
  .static-content {
    .woocommerce {
      .addresses {
        a {
          margin-bottom: 20px;
        }
      }
    }
  }
}
