@import '../../../variable.scss';
@import './variable.scss';

.App .Page .Static .static-content.my-account,
.App .Page .Static .static-content.my-orders,
.App .Page .Static .static-content.my-downloads,
.App .Page .Static .static-content.checkout{
  position: relative;
  text-align: left;

  .menu-bar {
    width: 184px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1 * ($staticWidth--m * 0.5) - 184px - 30px;

    .menu-title {
      font: 500 20px/24px $font-family;
      color: #333;
      border-bottom: 1px solid rgba(0,0,0, $opacity--line1);
      padding: 0 2px 14px;
      text-align: left;
    }
    .menu-body {
      padding: 16px 2px;
      border-bottom: 1px solid rgba(0, 0, 0, $opacity--line1);
      ul {
        li {
          margin: 0;
          float: none;
          text-align: left;
          width: 100%;
          a {
            font: 400 18px/28px $font-family;
            text-transform: capitalize;
            color: #999;
            will-change: color;
            transition: color 0.3s ease;
            &:hover, &:active, &.active {
              color: #333;
            }
            &.active {
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .woocommerce, .static-content-body {
    width: $staticWidth--m;
    margin: 0 auto;
    position: relative;


    .woocommerce-error {
      li {
        @include s-paragraph;
        color: $errorColor;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  .col2-set {
    .col-1, .col-2 {
      @include s-text;
      width: 337px;
      float: left;
    }
    .col-2 {
      margin-left: 10px;
    }
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  .form-row-first, .form-row-last {
    width: 337px;
    float: left;
  }
  .form-row-last {
    margin-left: 10px;
  }

  .controls {
    border-top: 1px solid #bbbbbb;
    margin-top: 46px;
    padding-top: 20px;
    text-align: center;
    .button {
      display: inline-block;
      max-width: 340px;
    }
  }

  .order-info {
    font: 500 16px/24px $font-family;
    color: #333;
  }




  address {
    @include s-paragraph;
  }



  // Register & Login
  #customer_login {

    .button {
      @include s-button;
      margin-bottom: 10px;
    }

    .col-1 {
      float: left;
      width: 337px;

      form.login {
        @include s-form;

        .inline {
          padding-left: 0;
          @include s-paragraph;
        }
      }
    }

    .col-2 {
      float: left;
      width: 337px;
      margin-left: 10px;

      form.register {
        @include s-form;
      }
    }

    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  // Lost Password
  .lost_reset_password {
    .text {
      margin-bottom: 50px;
    }
    input {
      width: 340px;
    }
  }

  // Profile
  #profile-form {

    .controls {
      border-top: 1px solid #bbbbbb;
      margin-top: 46px;
      padding-top: 20px;
      text-align: center;
      .button {
        display: inline-block;
        width: 337px;
      }
    }
  }

  // Track Order
  .track_order {
    .form-row {
      margin-bottom: 0;
    }
  }

  // Downloads
  .digital-downloads {
    margin-bottom: 20px;
    li {
      font: 400 14px/50px $font-family;
      color: #5e5e5e;
      padding: 0 10px;
      vertical-align: middle;
      height: 50px;
      border-bottom: 1px solid #dddddd;
      text-align: left;
      a {
        color: #5e5e5e;
        &:hover {
          color: #333;
          text-decoration: underline;
        }
      }
      strong {
        font-weight: 400;
      }
    }
  }
}

.App .Page .Static .static-content.my-orders {
  .static-content-body {
    .static-content-h2 {
      margin-bottom: 0;
    }
  }
}

.App .Page .Static .static-content.checkout {
  // Checkout
  .page-header {
    text-align: inherit;
  }
  .tg-container {
    width: auto;
    padding: 0;
  }
  .checkout_coupon {
    border-top: 1px solid #d3ced2;
    .form-row-first, .form-row-last {
      width: 316px;
      .input-text {
        margin: 0;
      }
    }
    .form-row-last {
      margin-left: 10px;
    }
  }
  table.shop_attributes {
    border: 0;
    border-top: 0;
    margin-bottom: 40px;
    width: 100%;

    th {
      width: auto;
      font-weight: 400;
      padding: 0 10px;
      border-top: 0;
      border-bottom: 1px solid #dddddd;
      margin: 0;
      line-height: 20px;
    }

    td {
      font-style: normal;
      padding: 0 10px;
      border-top: 0;
      border-bottom: 1px solid #dddddd;
      margin: 0;
      line-height: 20px;

      p {
        margin: 0;
        padding: 0;
      }
    }

    .alt td,
    .alt th {
      background: transparent;
    }
  }

  .order-recap {
    th {
      border-top: 1px solid #dddddd;
    }
  }

  table.shop_table {
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    text-align: inherit;
    width: 100%;
    border-collapse: separate;
    border-radius: 0;

    th {
      font-weight: 400;
      padding: 0 10px;
    }

    td {
      border-top: 0;
      padding: 0 10px;
      vertical-align: middle;

      small {
        font-weight: normal;
      }
    }

    tbody:first-child {
      tr:first-child {
        th,
        td {
          border-top: 0;
        }
      }
    }

    tfoot td,
    tfoot th,
    tbody th {
      font-weight: 400;
      border-top: 0;
    }
  }

  table.my_account_orders {
    font-size: 0.85em;

    th,
    td {
      padding: 4px 8px;
      vertical-align: middle;
    }

    .button {
      white-space: nowrap;
    }

    .order-actions {
      text-align: right;

      .button {
        margin: .125em 0 .125em .25em;
      }
    }
  }
}


@media( max-width: $staticMaxWidth--l ){
  .App .Page .Static .static-content.my-account,
  .App .Page .Static .static-content.my-orders,
  .App .Page .Static .static-content.my-downloads,
  .App .Page .Static .static-content.checkout{
    font-size: 0;
    text-align: left;

    .menu-bar {
      display: inline-block;
      position: relative;
      top: auto;
      left: auto;
      vertical-align: top;
      margin: 0 30px 0 0;
    }

    .woocommerce, .static-content-body {
      font-size: initial;
      display: inline-block;
      position: relative;
      margin: 0;
      text-align: left;
      vertical-align: top;
    }
  }
}

@media( max-width: 959px ){
  .App .Page .Static .static-content.my-account,
  .App .Page .Static .static-content.my-orders,
  .App .Page .Static .static-content.my-downloads,
  .App .Page .Static .static-content.checkout{
    text-align: left;

    .menu-bar {
      display: block;
      width: 100%;
      margin: 0;
      .menu-title {
        text-align: left;
        width: $staticWidth--m;
        margin-left: auto;
        margin-right: auto;
      }
      .menu-body {
        padding: 0;
        width: $staticWidth--m;
        margin-left: auto;
        margin-right: auto;

        ul {
          font-size: 0;
          text-align: center;
          li {
            display: inline-block;
            height: 60px;
            text-align: center;
            width: auto;
            &+li {
              margin-left: 46px;
            }
            a {
              font: 400 17px/60px $font-family;
            }
          }
        }
      }
      margin-bottom: 40px;
    }
    .woocommerce, .static-content-body {
      display: block;
      margin: 0 auto;
      text-align: left;
    }
  }
}

@media( max-width: $staticMaxWidth--s ){
  .App .Page .Static .static-content.my-account,
  .App .Page .Static .static-content.my-orders,
  .App .Page .Static .static-content.my-downloads,
  .App .Page .Static .static-content.checkout{

    .static-content-wrapper {
      width: 100%;
    }

    input {
      text-align: center;
    }

    .form-row-first, .form-row-last {
      width: 100%;
    }
    .form-row-last {
      margin-left: 0;
    }

    .controls {
      .button {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }

    .menu-bar {
      .menu-title {
        width: 100%;
        text-align: center;
      }
      .menu-body {
        width: 100%;
        ul {
          li {
            width: 150px;
            height: 30px;
            a {
              font: 400 16px/30px $font-family;
            }
            &+li {
              margin-left: 0;
            }
          }
        }
      }
    }

    .woocommerce, .static-content-body {
      width: 100%;
      text-align: center;
    }

    .col2-set {
      .col-1, .col-2 {
        width: 100%;
      }
      .col-2 {
        margin-left: 0;
      }
    }


    #customer_login {
      .col-1, .col-2 {
        width: 100%;
      }
      .col-1 {
        margin-bottom: 40px;
      }
    }

    .lost_reset_password {
      .text {
        margin-bottom: 50px;
      }
      input {
        width: 100%;
      }
    }

    // Profile
    #profile-form {
      .controls {
        .button {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .App .Page .Static .static-content.checkout {
    // Checkout
    .checkout_coupon {
      .form-row-first, .form-row-last {
        width: 100%;
      }
      .form-row-last {
        margin-left: 0;
      }
    }
  }
}

