@import './variable';

.App .Page .Static .static-content {

  .static-content-wrapper {
    width: $staticWidth--m;
    margin: 0 auto;
  }

  // Not Found
  &.not-found {
    .static-content-wrapper {
      width: $staticWidth--s;
      text-align: center;

      .static-content-big-title {
        margin-bottom: 0;
      }
      .static-content-title {
        border-bottom: 0;
        font: 400 36px/40px $font-family;
        margin-bottom: 40px;
      }
      .button:hover {
        text-decoration: none;
      }
    }
  }

  &.about-us {
  }

  &.contact {
    .contact-form-top {
      font-size: 0;
      margin-bottom: 20px;

      .contact-form-address {
        width: 337px;
        display: inline-block;
      }

      .static-form-office-hour {
        width: 337px;
        display: inline-block;
        margin-left: 10px;
      }
    }

    .screen-reader-response {
      @include s-paragraph;
      color: #d00;
    }

    form.wpcf7-form {
      p {
        text-indent: 10px;
        margin-bottom: 24px;
      }
      input[type="text"], input[type="email"]{
        @include s-input-text;
      }
      textarea {
        @include s-textarea;
      }
      input[type="submit"]{
        @include s-button;
        width: 336px;
        margin: 0 auto;
      }
    }
  }

}

@media (max-width: $staticMaxWidth--s){
  .App .Page .Static .static-content {

    // Not Found
    &.not-found {
      .static-content-wrapper {
        width: 100%;
        .static-content-big-title {
          margin-bottom: 0;
          font-size: 60px;
          line-height: 60px;
        }
        .static-content-title {
          border-bottom: 0;
          font: 400 20px/22px $font-family;
          margin-bottom: 40px;
        }
        .button:hover {
          text-decoration: none;
        }
      }
    }

    &.contact {
      .contact-form-top {
        .contact-form-address, .static-form-office-hour {
          width: 100%;
        }
      }
      form.wpcf7-form {
        textarea {
          height: 200px;
        }
        input[type="submit"]{
          width: 100%;
        }
      }
    }
  }
}





