@import '../../../variable';

// Static
$staticMaxWidth--l: 1279px;
$staticMaxWidth--m: 959px;
$staticMaxWidth--s: 723px;

$staticWidth--m   : 684px;
$staticWidth--s   : 420px;

@mixin s-title {
  font: 500 20px/24px $font-family;
  color: #333;
  padding: 0 0 14px 0;
  text-align: left;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 16px;
}

@mixin s-subtitle {
  font: 500 16px/24px $font-family;
  color: #737373;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #dddddd;
  padding-top: 24px;
  margin-bottom: 16px;
  text-align: left;
}

@mixin s-paragraph {
  font: 400 14px/24px $font-family;
  color: #999999;
  margin-bottom: 14px;
  text-align: left;
  a {
    font: 400 14px/24px $font-family;
    color: #999999;
    will-change: color;
    transition: color 0.3s ease;
    &:hover {
      color: #333333;
      text-decoration: underline;
    }
  }
  .il {
    font-weight: 500;
  }
}

@mixin s-input-text {
  height: 42px;
  padding: 0 10px;
  width: 100%;
  margin-top: 8px;
  background-color: $bgColor;
  border: 1px solid #dddddd;
  font: 400 14px/22px $font-family;
  color: #666;
  box-sizing: border-box;
  will-change: border-color;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
  outline: none;
  &:active, &:focus {
    border-color: #999;
  }
}

@mixin s-textarea {
  padding: 10px;
  width: 100%;
  height: 370px;
  background-color: $bgColor;
  border: 1px solid #dddddd;
  font: 400 14px/22px $font-family;
  color: #666;
  box-sizing: border-box;
  will-change: border-color;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
  outline: none;
  &:active, &:focus {
    border-color: #999;
  }
}


@mixin s-button {
  display: block;
  font: 400 16px/40px $font-family;
  color: #ffffff;
  background: #333333;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #333333;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  will-change: background-color, color, border;
  transition: all 0.5s ease;
  cursor: pointer;
  text-align: center;
  &:hover, &:active {
    background-color: transparent;
    color: #333;
    border-color: #333;
  }
}
