@import '../../../variable.scss';
@import './ProductThumb.scss';


@mixin product-group-base {
  position: relative;
  .ProductThumb {
    display: block;
    position: absolute;
  }
}

$productGroupWidth: (getGridWidth(10) + $gridGap) / 5;
$productGroupHeight: (400 + $gridGap) / 2;
@function productGroupX($num){
  @return ($productGroupWidth * ($num - 1)) + ($gridGap / 2);
}
@function productGroupY($num){
  @return ($productGroupHeight * ($num - 1)) + ($gridGap  /2);
}


@mixin product-group--xl {
  @include product-group-base;
  width: $productGroupWidth * 5;
  height: $productGroupHeight * 2;
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-4 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(5);}
      &-5 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(4);}
      &-6 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(5);}
    }
    &.style-2 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(2);}
      &-4 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-5 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(4);}
      &-6 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(5);}
    }
    &.style-3 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-4 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(5);}
      &-5 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(3);}
      &-6 {@include product-thumb--hr; top: productGroupY(2); left: productGroupX(4);}
    }
    &.style-4 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(2);}
      &-4 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-5 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(5);}
      &-6 {@include product-thumb--hr; top: productGroupY(2); left: productGroupX(4);}
    }
    &.style-5 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(3);}
      &-4 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-5 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(3);}
      &-6 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(4);}
    }
    &.style-6 {
      &-1 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-4 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(3);}
      &-5 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(5);}
      &-6 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(5);}
    }
    &.style-7 {
      &-1 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-5 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(3);}
      &-6 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(4);}
    }
    &.style-8 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(2);}
      &-4 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(3);}
      &-5 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(5);}
      &-6 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(5);}
    }
  }
}


@mixin product-group--lg {
  @include product-group-base;
  width: $productGroupWidth * 4;
  height: $productGroupHeight * 3;
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(3);}
      &-4 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(4);}
      &-5 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(1);}
      &-6 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(3);}
    }
    &.style-2 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(3);}
      &-5 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(4);}
      &-6 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(3);}
    }
    &.style-3 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-4 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(3);}
      &-6 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(4);}
    }
    &.style-4 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(3);}
      &-4 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(2);}
      &-6 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(4);}
    }
    &.style-5 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-4 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(2);}
      &-6 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(4);}
    }
    &.style-6 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-4 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-5 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(1);}
      &-6 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(3);}
    }
    &.style-7 {
      &-1 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-4 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(3);}
      &-5 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(2);}
      &-6 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(4);}
    }
    &.style-8 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(4);}
      &-4 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(1);}
      &-5 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(2);}
      &-6 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(3);}
    }
  }
}


@mixin product-group--md {
  @include product-group-base;
  width: $productGroupWidth * 3;
  height: $productGroupHeight * 4;
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(1);}
      &-4 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(3);}
      &-5 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-6 {@include product-thumb--hr; top: productGroupY(4); left: productGroupX(2);}
    }
    &.style-2 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--vt; top: productGroupY(3); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(2);}
      &-5 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(3);}
      &-6 {@include product-thumb--hr; top: productGroupY(4); left: productGroupX(2);}
    }
    &.style-3 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(2);}
      &-5 {@include product-thumb--hr; top: productGroupY(4); left: productGroupX(1);}
      &-6 {@include product-thumb--vt; top: productGroupY(3); left: productGroupX(3);}
    }
    &.style-4 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(3);}
      &-5 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-6 {@include product-thumb--hr; top: productGroupY(4); left: productGroupX(2);}
    }
    &.style-5 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--vt; top: productGroupY(3); left: productGroupX(1);}
      &-4 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(2);}
      &-5 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(2);}
      &-6 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(3);}
    }
    &.style-6 {
      &-1 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-4 {@include product-thumb--sm; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(3);}
      &-6 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(3);}
    }
    &.style-7 {
      &-1 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(3);}
      &-3 {@include product-thumb--vt; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--hr; top: productGroupY(2); left: productGroupX(2);}
      &-5 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-6 {@include product-thumb--sm; top: productGroupY(3); left: productGroupX(2);}
    }
    &.style-8 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--hr; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(3);}
      &-5 {@include product-thumb--vt; top: productGroupY(3); left: productGroupX(1);}
      &-6 {@include product-thumb--sm; top: productGroupY(3); left: productGroupX(2);}
    }
  }
}

@mixin product-group--sm {
  @include product-group-base;
  width: $productGroupWidth * 2;
  height: $productGroupHeight * 5;
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--hr; top: productGroupY(3); left: productGroupX(1);}
      &-3 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(2);}
      &-5 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(1);}
      &-6 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(2);}
    }
    &.style-2 {
      &-1 {@include product-thumb--sm; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-3 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(2);}
      &-4 {@include product-thumb--vt; top: productGroupY(4); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(2);}
      &-6 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(2);}
    }
    &.style-3 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(2);}
      &-6 {@include product-thumb--hr; top: productGroupY(5); left: productGroupX(1);}
    }
    &.style-4 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--sm; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(1);}
      &-6 {@include product-thumb--vt; top: productGroupY(4); left: productGroupX(2);}
    }
    &.style-5 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(2);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-5 {@include product-thumb--sm; top: productGroupY(3); left: productGroupX(1);}
      &-6 {@include product-thumb--hr; top: productGroupY(5); left: productGroupX(1);}
    }
    &.style-6 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(2);}
      &-4 {@include product-thumb--sm; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(1);}
      &-6 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(2);}
    }
    &.style-7 {
      &-1 {@include product-thumb--hr; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(2);}
      &-4 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(2);}
      &-6 {@include product-thumb--sm; top: productGroupY(4); left: productGroupX(1);}
    }
    &.style-8 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--vt; top: productGroupY(1); left: productGroupX(2);}
      &-4 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(2);}
      &-6 {@include product-thumb--sm; top: productGroupY(4); left: productGroupX(1);}
    }
  }
}

@mixin product-group--xs {
  @include product-group-base;
  width: $productGroupWidth * 1;
  height: $productGroupHeight * 6;
  .ProductThumb {
    &.style-1, &.style-2, &.style-3, &.style-4, &.style-5, &.style-6, &.style-7, &.style-8 {
      &-1 {@include product-thumb--xs; top: productGroupY(1); left: productGroupX(1);}
      &-2 {@include product-thumb--xs; top: productGroupY(2); left: productGroupX(1);}
      &-3 {@include product-thumb--xs; top: productGroupY(3); left: productGroupX(1);}
      &-4 {@include product-thumb--xs; top: productGroupY(4); left: productGroupX(1);}
      &-5 {@include product-thumb--xs; top: productGroupY(5); left: productGroupX(1);}
      &-6 {@include product-thumb--xs; top: productGroupY(6); left: productGroupX(1);}
    }
  }
}