@import '../../../variable';
@import '../tour/TourThumb';
@import '../shop/ProductThumb';
@import '../music/AlbumThumb';
@import '../event/EventThumb';
@import '../banner/MainBannerThumb';

@mixin promotion-group-base {
  position: relative;
  .TourThumb, .ProductThumb, .AlbumThumb, .EventThumb, .MainBannerThumb {
    display: block;
    position: absolute !important;
  }
}

$promotionGroupWidth: $gridWidthPromotion;
$promotionGroupHeight: $gridWidthPromotion;
@function promotionGroupX($num){
  @return $promotionGroupWidth * ($num - 1);
}

@function promotionGroupY($num){
  @return $promotionGroupHeight * ($num - 1);
}


@mixin promotion-group--xxl {
  @include promotion-group-base;
  width: $promotionGroupWidth * 7;
  height: $promotionGroupHeight * 4;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--md; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(3);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--md; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(3);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(5);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(6);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(7);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(5);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(6);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(7);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(5);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(3); left: promotionGroupX(7);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(4); left: promotionGroupX(7);}
    }
  }
}

@mixin promotion-group--xl {
  @include promotion-group-base;
  width: $promotionGroupWidth * 6;
  height: $promotionGroupHeight * 6;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--sm; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--sm; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--sm; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--sm; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--sm; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--sm; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xs; top: promotionGroupY(1); left: promotionGroupX(4);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(6);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(6);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(4);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(3); left: promotionGroupX(6);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(4); left: promotionGroupX(6);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xs; top: promotionGroupY(5); left: promotionGroupX(4);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(5); left: promotionGroupX(6);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(6); left: promotionGroupX(6);}
    }
  }
}

@mixin promotion-group--lg {
  @include promotion-group-base;
  width: $promotionGroupWidth * 5;
  height: $promotionGroupHeight * 6;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--sm; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--sm; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--sm; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--sm; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--sm; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--sm; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(4);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(4);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(3); left: promotionGroupX(4);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(5);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(5);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(3); left: promotionGroupX(5);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xs; top: promotionGroupY(4); left: promotionGroupX(4);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(6); left: promotionGroupX(4);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(6); left: promotionGroupX(5);}
    }
  }
}

@mixin promotion-group--md {
  @include promotion-group-base;
  width: $promotionGroupWidth * 4;
  height: $promotionGroupHeight * 7;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--md; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(3);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--md; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(3);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xxs; top: promotionGroupY(5); left: promotionGroupX(1);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(6); left: promotionGroupX(1);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(1);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xxs; top: promotionGroupY(5); left: promotionGroupX(2);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(6); left: promotionGroupX(2);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(2);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xs; top: promotionGroupY(5); left: promotionGroupX(3);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(3);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(4);}
    }
  }
}

@mixin promotion-group--sm {
  @include promotion-group-base;
  width: $promotionGroupWidth * 3;
  height: $promotionGroupHeight * 10;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--sm; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--sm; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--sm; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--sm; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--sm; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--sm; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(1);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(2);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(3);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xxs; top: promotionGroupY(8); left: promotionGroupX(1);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(8); left: promotionGroupX(2);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(8); left: promotionGroupX(3);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xs; top: promotionGroupY(9); left: promotionGroupX(1);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(9); left: promotionGroupX(3);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(10); left: promotionGroupX(3);}
    }
  }
}

@mixin promotion-group--xs {
  @include promotion-group-base;
  width: $promotionGroupWidth * 2;
  height: $promotionGroupHeight * 12;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--xs; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--xs; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--xs; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--xs; top: promotionGroupY(3); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--xs; top: promotionGroupY(5); left: promotionGroupX(1);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(1);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(8); left: promotionGroupX(1);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(9); left: promotionGroupX(1);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(2);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(8); left: promotionGroupX(2);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(9); left: promotionGroupX(2);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xs; top: promotionGroupY(10); left: promotionGroupX(1);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(12); left: promotionGroupX(1);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(12); left: promotionGroupX(2);}
    }
  }
}

@mixin promotion-group--xxs {
  @include promotion-group-base;
  width: $promotionGroupWidth * 1;
  height: $promotionGroupHeight * 12;
  .TourThumb {
    &.style-1 {
      &-1 {@include tour-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include tour-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(1);}
      &-3 {@include tour-thumb-m--xxs; top: promotionGroupY(3); left: promotionGroupX(1);}
    }
  }
  .MainBannerThumb {
    &.style-1 {
      &-1 {@include main-banner-thumb-m--xxs; top: promotionGroupY(1); left: promotionGroupX(1);}
      &-2 {@include main-banner-thumb-m--xxs; top: promotionGroupY(2); left: promotionGroupX(1);}
      &-3 {@include main-banner-thumb-m--xxs; top: promotionGroupY(3); left: promotionGroupX(1);}
    }
  }
  .ProductThumb {
    &.style-1 {
      &-1 {@include product-thumb-m--xxs; top: promotionGroupY(4); left: promotionGroupX(1);}
      &-2 {@include product-thumb-m--xxs; top: promotionGroupY(5); left: promotionGroupX(1);}
      &-3 {@include product-thumb-m--xxs; top: promotionGroupY(6); left: promotionGroupX(1);}
    }
  }
  .AlbumThumb {
    &.style-1 {
      &-1 {@include album-thumb-m--xxs; top: promotionGroupY(7); left: promotionGroupX(1);}
      &-2 {@include album-thumb-m--xxs; top: promotionGroupY(8); left: promotionGroupX(1);}
      &-3 {@include album-thumb-m--xxs; top: promotionGroupY(9); left: promotionGroupX(1);}
    }
  }
  .EventThumb {
    &.style-1 {
      &-1 {@include event-thumb-m--xxs; top: promotionGroupY(10); left: promotionGroupX(1);}
      &-2 {@include event-thumb-m--xxs; top: promotionGroupY(11); left: promotionGroupX(1);}
      &-3 {@include event-thumb-m--xxs; top: promotionGroupY(12); left: promotionGroupX(1);}
    }
  }
}