@import '../variable';

.App .Footer {
  width: 100%;
  height: $footerHeight;
  transition: background-color 1s ease;
  will-change: background-color;
  font-size: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 0 0 0;
  z-index: $z-footer;

  .site-links {
    display: inline-block;
    font-size: 0;
    a {
      display: inline-block;
      font: 500 14px/22px 'Klavika', sans-serif;
      vertical-align: bottom;
      text-transform: uppercase;
      opacity: $opacity--title;
      transition: color 1000ms ease, opacity 300ms ease;
      will-change: color, opacity;
      & + a {
        margin-left: 70px;
      }
      &:hover, &:active {
        opacity: $opacity--primary;
      }
    }
  }

  .social-links {
    display: inline-block;
    font-size: 0;
    padding-left: 90px;
    margin-bottom: 50px;
    a {
      span {
        font-size: 22px;
        line-height: 22px;
        vertical-align: bottom;
        opacity: $opacity--title;
        transition: color 1000ms ease, opacity 300ms ease;
        will-change: color, opacity;
      }
      & + a {
        margin-left: 10px;
      }
      &:hover span, &:active span {
        opacity: $opacity--primary;
      }
    }
  }

  .EmailSignup {
    display: block;
    margin-bottom: 58px;
  }
}

@media (max-width: 1279px) {
.App .Footer {
  height: $footerHeight--lg;
}}

@media (max-width: 1023px) {
.App .Footer {
  height: $footerHeight--md;
  .site-links {
    display: block;
    margin-bottom: 44px;
  }
  .social-links {
    padding-left: 0;
    display: block;
    margin-bottom: 28px;
  }
}}

@media (max-width: 767px) {
.App .Footer {
  height: $footerHeight--sm;
  .site-links {
    a {
      display: block;
      text-align: center;
      &+a {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}}

@media (max-width: 511px) {
.App .Footer {
  height: $footerHeight--xs;
  .EmailSignup input {
    width: 257px;
  }
}}
