@import '../variable';

.App .Frame {
  width: 0;
  height: 0;

  span {
    transition: background-color 1s ease;
    will-change: background-color;
    transition-delay: 300ms;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $frameSizeTop;
  }

  .left {
    position: fixed;
    top: 0;
    left: 0;
    width: $frameSize;
    bottom: 0;
  }

  .right {
    position: fixed;
    top: 0;
    right: 0;
    width: $frameSize;
    bottom: 0;
  }

  .bottom {
    position: fixed;
    bottom: 0;
    height: $frameSize;
    left: 0;
    right: 0;

    .copyright {
      font: 400 12px/25px 'Klavika', sans-serif;
      opacity: $opacity--sub;
      text-align: center;
      transition: color 1000ms ease, opacity 300ms ease;
      will-change: color, opacity;
    }
  }
}


@media (max-width: 1279px) {
.App .Frame {
  .top {
    height: $frameSizeTop--lg;
  }
  .left, .right {
    width: $frameSize--lg;
  }
  .bottom {
    height: $frameSize--lg;
  }
}}

@media (max-width: 1023px) {
.App .Frame {
  .top {
    height: $frameSizeTop--md;
  }
  .left, .right {
    width: $frameSize--md;
  }
  .bottom {
    height: $frameSize--md;
  }
}}

@media (max-width: 767px) {
.App .Frame {
  .top {
    height: $frameSizeTop--sm;
  }
  .left, .right {
    width: $frameSize--sm;
  }
  .bottom {
    height: $frameSize--sm;
    .copyright {
      font: 400 7px/10px 'Klavika', sans-serif;
    }
  }
}}

@media (max-width: 479px) {
.App .Frame {
  .top {
    height: $frameSizeTop--xs;
  }
  .left, .right {
    width: $frameSize--xs;
  }
  .bottom {
    height: $frameSize--xs;
  }
}}
