@import '../variable';

.App .Menu {
  width: 100%;
  height: 100%;

  .menu-bg {
    position: absolute;
    top: $frameSizeTop;
    left: $frameSize;
    right: $frameSize;
    bottom: $frameSize;
    background: $bgColor;
  }

  .menu-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .MainMenuBG {
      position:absolute;
      top: 0;
      left: 0;
    }
  }

  .links {
    position: absolute;
    top: $frameSizeTop;
    left: $frameSize;
    right: $frameSize;
    bottom: $frameSize;

    .static {
      position: absolute;
      top: 48px;
      left: 32px;

      li {
        display: block;

        .link {
          transition: color 300ms ease;
          will-change: color;
          font: 400 24px/32px 'Klavika', sans-serif;
          color: rgba(0,0,0,0.7);
          display: inline;

          &.current {
            font-weight: 500;
          }

          &:hover, &:active {
            color: rgba(0,0,0,0.9)
          }
        }
      }


    }

    .artists {
      position: relative;
      padding-top: 48px;
      padding-bottom: 32px;
      text-align: center;
      float: left;
      left: 50%;
      transform: translate(-50%, 0);
      &:after {
        display: block;
        clear: both;
        content: ""
      }

      li {
        display: block;

        .link {
          display: inline;
          font: 400 44px/66px 'Klavika', sans-serif;
          text-align: center;
          transition: font-size 500ms $easeOutQuart, line-height 500ms $easeOutQuart;
          will-change: font-size, line-height;

          &:hover, &:active {
            font-size: 82px;
            line-height: 88px;
          }
        }
      }
    }
  }



  .film {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: $maxWidth--8-10) {
.App .Menu {
  .menu-bg, .links {
    position: absolute;
    top: $frameSizeTop--lg;
    left: $frameSize--lg;
    right: $frameSize--lg;
    bottom: $frameSize--lg;
  }
}}

@media (max-width: $maxWidth--6-10) {
.App .Menu {
  .menu-bg, .links {
    position: absolute;
    top: $frameSizeTop--md;
    left: $frameSize--md;
    right: $frameSize--md;
    bottom: $frameSize--md;
  }
}}

@media (max-width: $maxWidth--4-10) {
.App .Menu {
  .menu-bg, .links {
    position: absolute;
    top: $frameSizeTop--sm;
    left: $frameSize--sm;
    right: $frameSize--sm;
    bottom: $frameSize--sm;
  }
  .links {
    .static {
      position: relative;
      top: auto;
      left: auto;
      padding-top: 18px;
      padding-bottom: 18px;
      li {
        text-align: center;
        .link {
          font: 400 18px/36px 'Klavika', sans-serif;
        }
      }
    }
    .artists {
      padding-top: 0;
      li {
        .link {
          font: 400 24px/40px 'Klavika', sans-serif;

          &:hover, &:active {
            font-size: 36px;
            line-height: 48px;
          }
        }
      }
    }
  }
}}

@media (max-width: 511px) {
.App .Menu {
  .menu-bg, .links {
    position: absolute;
    top: $frameSizeTop--xs;
    left: $frameSize--xs;
    right: $frameSize--xs;
    bottom: $frameSize--xs;
  }
}}
