@import '../variable';

.App .Page {
  width: 100%;
  z-index: $z-page;

  .loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;

    .SquareSpinner {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
    }
  }

}


