.App .Page {
  width: 100%;
  height: 1000px;

  .loading {
    height: 300px;
    position: relative;

    .SquareSpinner {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
    }
  }
}


